#background{
    width: 280px;
    height: 400px;
    background-color: #1f1a2b;
    border: #312c3f solid;
    border-width: 2px;
}

body{
    background-color: #121014;
    /* 16131f original dark purple */
}

form{
    background-color: #28262e;
    /* 1e1a2b for light form
    a19dad for lighter form
    282336 for medium form */

    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 3px;
}
form label{
    color: #e0a320;
}

form small{
    color: rgb(133, 133, 133);
}

#asterisk{
    color: crimson;
    font-size: 30px;
    margin-top: -20px;
    margin-bottom: -10px;
}

#findMeLabel1{
    padding-top: 10px;
    padding-bottom: 10px;
}

#termsBox1{
    padding-bottom: 20px;
}

.main-content{
    width: 80%;
}