@font-face{
    font-family: 'Kaushan Script';
    font-style: cursive;
    src: 
    url('/fonts/KaushanScript-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Oswald';
    src: 
    url('/fonts/Oswald-Regular.ttf') format('truetype');
}

#background{
    width: 280px;
    height: 400px;
    background-color: #1f1a2b;
    border: #312c3f solid;
    border-width: 2px;
}

body{
    background-color: #121014;
    /* 16131f original dark purple */
}

.form-section{
    background-color: #28262e;
    /* 1e1a2b for light form
    a19dad for lighter form
    282336 for medium form */

    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 3px;
}
form label{
    color: #ecac22;
    font-family: 'Kaushan Script';
    font-size: 20px;
}

form small{
    color: rgb(133, 133, 133);
}

#asterisk{
    color: crimson;
    font-size: 30px;
    margin-top: -20px;
    margin-bottom: -10px;
}

#findMeLabel1{
    padding-top: 10px;
    padding-bottom: 10px;
}

#termsBox1{
    padding-bottom: 20px;
}

.main-content{
    width: 80%;
}

#terms-conditions{
    overflow: hidden;
    resize: none;
    padding: 10px;
}

/* Field background color+focus color */
input [type="text"], [class="form-control"], textarea{
    background-color: #252327;
    color: #e0a320;
    border-color: #1b1b1a;
    /* original highlight color: 996f14 */
    border-top-color: #d1991f;
    border-width: 2px;
    border-bottom-width: 1px;
    box-shadow: 3px 7px 3px #242129;
     
}
input [type="text"]:focus, [class="form-control"]:focus, textarea {
    background-color: #302c33;
    /* original highlight color: 4f4a53 */
    box-shadow: 0 0 5px #e0a320;
    border-color: #e0a320;
    color: #e0a320;
}

/* Placeholder font color */
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder{
    color: #a18843;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder{
    color: #a18843;
}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder{
    color: #a18843;
}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder{
    color: #a18843;
}

#termsSmall1{
    padding-bottom: 10px;
}

#terms-conditions{
    color: #c28a12;
    background-color: #1d1c1f;
    border-color: #121014;
    border-width: 3px;
}

#submit-request{
    color: #af7d10;
    background-color: #1f1a2b;
    border-color: #e0a320;
}

#submit-request:disabled{
    cursor: not-allowed;
}

.custom-control{
    display: inline-block;
    margin-right: 25px;
    padding-left: 0; 
}

.custom-control-label{
    padding-left: 20px;
}

#find-textbox{
    display: none;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before{
    background-color: #ecac22;
}

.file-list > li{
    padding: 5px;
    background-color: #252327;  
    color: #20e05a;
}

.file-list > li:nth-child(even){
    background-color: #353238;      
}

.custom-file-label{
    border: none;
    background-color: #252327;  
    border-top-color: #996f14;
    border-width: 2px;
    border-top-width: 1px;
    box-shadow: 3px 7px 3px #242129;
    color: #e0a320;
}

.file-thumbnail{
    width: 30px;
    max-height: 30px;
    border: 1px solid #fff;
    margin-right: 20px;
}

#navBar1{
    background-color: #1f1b22;
    position: sticky;
}
#navbarNav > ul > li > a{
    color: #e0a320;
    font-family: 'Kaushan Script';
}
#navBar1 > a{
    color: #e0a320;
}

#uploadBox{
    padding-top: 40px;
    padding-bottom: 40px;
}